*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Nunito",sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lobster';
    src: url(../../font/Lobster-Regular.ttf);
    font-weight: 100;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#34495e,#95a5a6);
} 

.h1-title a{
    color: black;
    font-family: Lobster;
    text-decoration: none;
    font-size: 35px;
}

h1{
    text-align: center;
}

h1 a{
    color: black;
}

h1 a:hover{
    color: #734046;
}

h2{
    text-transform: uppercase;
}

#login-div{
    width: 500px;
    background: #f1f1f1;
    height: 650px;
    padding: 30px 30px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#login-div h2{
    font-size: 24px;
    font-weight: 600;
}

